<div class="card">
  <div class="card-header">
    <h2>Login</h2>
  </div>
  <form class="form login-form">
    <div class="form-group">
      <label for="email-login">user:</label>
      <input class="form-input" type="text" id="email-login" />
    </div>
    <div class="form-group">
      <label for="password-login">password:</label>
      <input class="form-input" type="password" id="password-login" />
    </div>
    <div>
      <button class="btn btn-primary" type="submit">login</button>
      <a href="/signup" type="button">Sign up Instead</a>
    </div>
  </form>
</div>
<script src="../public/js/login.js"></script>