{{!-- use bootstrap and create a card using html that has a form
and has and input for the title and text area for the content for a new post
also make sure there is a button to submit the post
 --}}
 
  <div class="card">
        <div class="card-header">
          New Post
        </div>
        <div class="card-body">
            <form id="new"> 
          
                  <label for="postTitle" class="form-label">Title:</label>
                  <input type="text" class="form-input" name="postTitle">
            
           
                  <label for="newPost" class="form-label">Content:</label>
                  <textarea name="newPost" class="form-input"></textarea>
             
               
                <button type="submit" class="btn btn-primary">Create</button>
              </form>
        </div>
      </div>

      <script src="/js/new.js"></script>