 <div class="card">
            <div class="card-header">
                <h2>Single Post</h2>
                <p>posted by D. Brown on 5/8/2020 </p>
            </div>
            <div class="card-body">

            </div>
        </div>

        <!-- this card will display any comments that are attahed to the post -->
        <div class="card">
            <div class="card-header">
                <h2></h2>
                <p>posted by </p>
            </div>
            <div class="card-body">

            </div>
        </div>

        <!-- this card will allow the user to add a new comment -->

        <div class="card">
            <div class="card-header">
                <h2>Comment</h2>
                <p>posted by </p>
            </div>
            <div class="card-body">
                <form>
                    <div class="mb-3">
                        <label for="postTitle" class="form-label">Title:</label>
                        <input type="text" class="form-input" id="postTitle">
                    </div>
                    <div class="mb-3">
                        <label for="postBody" class="form-label">Content:</label>
                        <textarea name="postBody" class="form-input"></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                   
            
            </div>
        </div>


    </div>
</body>

</html>
<script src="../public/js/singlePost.js"></script>